<!DOCTYPE html>
<html lang="en">
    
    <h1>Busqueda de usuarios</h1>
    <form action="/searchUsers/resultados" method="get">
        <input type="email o username" id="searchUser" name="busquedaUsuarios">
    </form>
    
</html>